/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.paper-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 256px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  z-index: 1;
}
.paper-toolbar.color {
  background-color: #009688;
}
.paper-toolbar-content {
  position: relative;
  width: 704px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 192px;
  z-index: 2;
}
.card {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
}
.card.z2 {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23);
}
.card.z3 {
  -webkit-box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.23);
}
.card.z4 {
  -webkit-box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.22);
}
.card.z5 {
  -webkit-box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.22);
}
.card .item {
  padding-left: 24px;
  padding-right: 24px;
}
.card .item.card-header {
  height: 64px;
  padding-top: 16px;
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card .item.card-header h2 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
}
.card .item.list-item {
  height: 88px;
}
.card .item.input {
  height: 48px;
}
.card .item.input input {
  display: block;
  height: 16px;
  padding-top: 16px;
  padding-bottom: 7px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
  background-color: transparent;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 256px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate(-256px, 0px);
  -moz-transform: translate(-256px, 0px);
  -ms-transform: translate(-256px, 0px);
  -o-transform: translate(-256px, 0px);
  transform: translate(-256px, 0px);
  -webkit-transform: translate3d(-256px, 0px, 0);
  -moz-transform: translate3d(-256px, 0px, 0);
  -o-transform: translate3d(-256px, 0px, 0);
  -ms-transform: translate3d(-256px, 0px, 0);
  transform: translate3d(-256px, 0px, 0);
}
.sidebar .sidebar-header {
  height: 128px;
  background-color: #b2dfdb;
}
.sidebar.open {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0);
  -moz-transform: translate3d(0px, 0px, 0);
  -o-transform: translate3d(0px, 0px, 0);
  -ms-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
}
body {
  position: relative;
}
.layer-system {
  z-index: 2;
}
.layer-nav {
  z-index: 1;
}
.field {
  zoom: 1;
}
.field:before,
.field:after {
  content: "";
  display: table;
}
.field:after {
  clear: both;
}
.field .field-row {
  zoom: 1;
}
.field .field-row:before,
.field .field-row:after {
  content: "";
  display: table;
}
.field .field-row:after {
  clear: both;
}
.field .field-column {
  width: 48px;
  display: block;
  float: left;
}
.field .field-box {
  width: 48px;
  height: 48px;
  padding: 12px;
  text-align: center;
  line-height: 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.field .field-item.hit {
  background-color: #ffff00;
}
.field .field-area {
  float: left;
}
body {
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}
