@color-teal50 		: #e0f2f1;
@color-teal100 		: #b2dfdb;
@color-teal200 		: #80cbc4;
@color-teal300 		: #4db6ac;
@color-teal400 		: #26a69a;
@color-teal500 		: #009688;
@color-teal600 		: #00897b;
@color-teal700 		: #00796b;
@color-teal800 		: #00695c;
@color-teal900 		: #004d40;
@color-tealA100 	: #a7ffeb;
@color-tealA200 	: #64ffda;
@color-tealA400 	: #1de9b6;
@color-tealA700 	: #00bfa5;

@color-yellow50 	: #fffde7;
@color-yellow100 	: #fff9c4;
@color-yellow200 	: #fff59d;
@color-yellow300 	: #fff176;
@color-yellow400 	: #ffee58;
@color-yellow500 	: #ffeb3b;
@color-yellow600 	: #fdd835;
@color-yellow700 	: #fbc02d;
@color-yellow800 	: #f9a825;
@color-yellow900 	: #f57f17;
@color-yellowA100 	: #ffff8d;
@color-yellowA200 	: #ffff00;
@color-yellowA400 	: #ffea00;
@color-yellowA700 	: #ffd600;



@color-primary 			: @color-teal500;
@color-primary-light 	: @color-teal100;
@color-primary-dark 	: @color-teal700;

@color-secondary 		: @color-yellowA200;


@color-black 			: #000000;
@color-dividers 		: fade(@color-black, 12%);
@color-hint-text 		: fade(@color-black, 26%);

@color-white 			: #ffffff;
@color-text 			: fade(@color-white, 87%);
@color-icons 			: fade(@color-white, 54%);

@color-icons-dark 		: fade(@color-black, 54%);

@color-bg 				: #f9f9f9; 	
@color-bg-content 		: #fafafa;

@color-seam-top 		: #fafafa;
@color-seam-bottom 		: #d2d2d2;